body{
    background-color: rgb(193, 234, 255);
}
#score{
    font-size: medium;
    margin-left: 25px;
}
#time{
    font-size: medium;
    float: right;
    margin-right: 25px;
}
#sketchName{
    color:red;
}